<h3>Ng Switch Demo</h3>
<hr>

<button class="btn btn-link" (click)="setChoice(1)">Tiger</button>
<button class="btn btn-link" (click)="setChoice(2)">Lion</button>
<button class="btn btn-link" (click)="setChoice(3)">Cheetah</button>
<button class="btn btn-link" (click)="setChoice(4)">Eagle</button>

<div [ngSwitch]="choice">
    <div *ngSwitchCase="1">
        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Walking_tiger_female.jpg/220px-Walking_tiger_female.jpg" alt="">
            </div>
            <div class="col">
                The tiger (Panthera tigris) is the largest living cat species and a member of the genus Panthera. It is most recognisable for its dark vertical stripes on orange fur with a white underside. An apex predator, it primarily preys on ungulates such as deer and wild boar. It is territorial and generally a solitary but social predator, requiring large contiguous areas of habitat, which support its requirements for prey and rearing of its offspring. Tiger cubs stay with their mother for about two years, then become independent and leave their mother's home range to establish their own.
            </div>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Lion_waiting_in_Namibia.jpg/220px-Lion_waiting_in_Namibia.jpg" alt="">
            </div>
            <div class="col">
                The lion (Panthera leo) is a large cat of the genus Panthera native to Africa and India. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions are larger than females and have a prominent mane. It is a social species, forming groups called prides. A lion's pride consists of a few adult males, related females, and cubs. Groups of female lions usually hunt together, preying mostly on large ungulates. The lion is an apex and keystone predator; although some lions scavenge when opportunities occur and have been known to hunt humans, the species typically does not.
            </div>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TheCheethcat.jpg/220px-TheCheethcat.jpg" alt="">
            </div>
            <div class="col">
                The cheetah (Acinonyx jubatus) is a large cat native to Africa and central Iran. It is the fastest land animal, estimated to be capable of running at 80 to 128 km/h (50 to 80 mph) with the fastest reliably recorded speeds being 93 and 98 km/h (58 and 61 mph), and as such has several adaptations for speed, including a light build, long thin legs and a long tail. It typically reaches 67–94 cm (26–37 in) at the shoulder, and the head-and-body length is between 1.1 and 1.5 m (3 ft 7 in and 4 ft 11 in). Adults weigh between 21 and 72 kg (46 and 159 lb). Its head is small and rounded, and has a short snout and black tear-like facial streaks. The coat is typically tawny to creamy white or pale buff and is mostly covered with evenly spaced, solid black spots. Four subspecies are recognised.
            </div>
        </div>
    </div>
    <div *ngSwitchCase="4">
        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Eagles_together.jpg/220px-Eagles_together.jpg" alt="">
            </div>
            <div class="col">
                Eagle is the common name for many large birds of prey of the family Accipitridae. Eagles belong to several groups of genera, some of which are closely related. Most of the 60 species of eagle are from Eurasia and Africa.[1] Outside this area, just 14 species can be found—2 in North America, 9 in Central and South America, and 3 in Australia.
            </div>
        </div>
    </div>
</div>
