<h3>Contact Details:</h3>
<hr>

<img src="{{ contact.picture }}" alt="">

<div class="row">
    <div class="col-sm-4">Name</div>
    <div class="col-sm-8">{{contact | fullname}}</div>
</div>
<div class="row">
    <div class="col-sm-4">Gender:</div>
    <div class="col-sm-8">{{contact.gender}}</div>
</div>
<div class="row">
    <div class="col-sm-4">Email:</div>
    <div class="col-sm-8">{{contact.email}}</div>
</div>
<div class="row">
    <div class="col-sm-4">Phone:</div>
    <div class="col-sm-8">{{contact.phone}}</div>
</div>
<div class="row">
    <div class="col-sm-4">DOB:</div>
    <div class="col-sm-8">{{contact.dob}}</div>
</div>
<div class="row">
    <div class="col-sm-4">Age:</div>
    <div class="col-sm-8">{{contact.dob | age : 3}}</div>
</div>
<div class="row">
    <div class="col-sm-4">City:</div>
    <div class="col-sm-8">{{contact.city | uppercase}}</div>
</div>
<div class="row">
    <div class="col-sm-4">State:</div>
    <div class="col-sm-8">{{contact.state}}</div>
</div>
<div class="row">
    <div class="col-sm-4">Country:</div>
    <div class="col-sm-8">{{contact.country}}</div>
</div>

<hr>

<button class="btn btn-primary" [routerLink]="['/edit-contact', contact.id]">Edit</button>
<button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>

<!-- <p><button class="btn btn-default" (click)="testSwal()">Test Sweet Alert</button></p> -->