<h3>List of all Contacts:</h3>

<hr>

<!-- <div *ngFor="let c of contacts">
    {{ c    |   fullname}}
</div> -->

<div class="list-group">
    <div *ngFor="let c of contacts" class="list-group-item">
        <div class="row">
            <div class="col-sm-4">
                <img [src]="c.picture" alt="portrait" style="size: 150px;">
            </div>
            <div class="col-sm-8">
                <h4 [routerLink]="['/contact-details', c.id]">{{ c | fullname }}</h4>
                <p>{{ c.city }} {{ c.state }}</p>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" (click)="loadMore()">Load more...</button>